body {
    font-size: 24px;
}
head {
    font-size: 60px;
}
head {
    font-size: 50px;
}
head {
    font-size: 10px;
}
p.bold {
    font-style: bold;
}
p.italic {
    font-style: italic;
}
span.red {
    color: red;
}
span.green {
    color: green;
}
